.navbarWrapper {
  height: 80px;
}
.searchMovie {
  margin-top: 50px;
  background-color: #212121;
}
#movies img,
#movie img {
  width: 100%;
}
.App {
  height: 100vh;
  color: #ffffff;
  border-color: gray;
  background-color: #212121;
}
.movieList li {
  color: #212121;
  font-size: 1.2em;
}

.movieTitle {
  color: #9aedfa;
  margin-top: 10px;
}
